# =========================
# Data
# =========================

data/raw/
data/processed/


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
.venv/
venv/


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# not yet
# =========================

requirements.txt
instructions_folder/

# =========================
# OS
# =========================

.DS_Store